<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
     <!-- Header section -->
 <header>
    <nav class="nav-left">
    <a href="/">Home</a>
    <a href="contact">Contact</a>
    </nav>
    <a href="/login"><button class="login-button">Login</button></a>
</header>
    {{{body}}}
</body>
<script src="https://kit.fontawesome.com/d7008077ec.js" crossorigin="anonymous"></script>

</html>